#IDE folder
.idea

#Nextflow
.nextflow
work
results/
.nextflow.log*

#nf-test
.nf-test
.nf-test*.*

#Obsidian config
Information/.obsidian

#patches
*.patch

# Python
__pycache__/
*.py[cod]
