plugins {
    id 'nf-schema@2.7.2'
}

params {

    resolve_only = false
    max_runs = 20

    /*
     * Read trimming
     */
    adapter_r1 = 'AGATCGGAAGAGC'
    adapter_r2 = 'AGATCGGAAGAGC'

    quality_cutoff = 20
    minimum_length = 20
}

profiles {

    test {
        includeConfig 'config/test.config'
    }

    docker {
        docker.enabled = true
    }
}

process {

    withLabel: process_low {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }

    withLabel: process_medium {
        cpus = 4
        memory = 8.GB
        time = 2.h
    }
}
